body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background:#795757;
}

.header {
    background: rgba(255, 255, 255, 0.8);
    padding: 40px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.Añadir{
    border-radius: 50px;
    background-color: #3B3030;
    color: #fff;
}

.input-tareas{
    border-radius: 50px;
    color: #444;
}

.logo {
    font-size: 30px;
    color: #795757;
    text-decoration: none;
    font-weight: bold;
    display: block;
}
.logo img{
    max-width: 100px;
    height: auto;
}
.logo img:hover{
    opacity: 0.6;
    transform: scale(1.1);
}

.header-txt h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #444;
}

ul {
    list-style: none;
    padding: 0;
}

ol {
    background-color: #fff;
    margin: 10px 0;
    padding: 15px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    transition: transform 0.5s;
}

ol:hover {
    transform: scale(1.05);
}

.Informacion {
    padding: 40px;
    text-align: center;
}

.txt {
    max-width: 700px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

p {
    font-size: 1.1em;
    line-height: 1.6;
}

.boton1 {
    display: inline-block;
    background-color: #3B3030;
    color: #fff;
    padding: 10px 20px;
    border-radius: 50px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
}

.boton1:hover {
    background-color:#664343;
}

.btn-borrar {
    background-color:chartreuse;
    border-radius: 40px;
    padding: 5px 10px;
    margin-left: 10px;
    cursor: pointer;
}